
{% for style in styles %}
<link rel="stylesheet" href="{{ style|raw }}" />
{% endfor %}
{% for script in scripts %}
    <script type="text/javascript" src="{{ script|raw }}"></script>
{% endfor %}


<div class="configDiv row">
    <div class="col-md-6">
        <form id='searchForm'>
            <h6>Search for Organ Recipient</h6>
        {% for field, details in lookupDetails %}
            <div class='configDiv row'>
                <div class='col-md-7'>
                    <h5>{{ details.label }}</h5>
                </div>
                <div class='col-md-5'>
                    {% if details.type == 'checkbox' %}
                        {% for value, label in details.options %}
                            <span>{{ label }}</span> <input type='checkbox' class='searchField' value='{{ value }}' name='{{ field }}-{{ value }}{{ details.repeating ? '[]' : '' }}' /><br />
                        {% endfor %}

                    {% elseif details.type == 'select' %}
                    <select name="{{ field }}{{ details.repeating ? '[]' : '' }}" class='searchField'>
                        <option value=''></option>
                        {% for value, label in details.options %}
                            <option value='{{ value }}'>{{ label }}</option>
                        {% endfor %}
                    </select>
                    {% elseif details.type == 'text'%}
                        <input type='text' class='searchField' name='{{ field }}{{ details.repeating ? '[]' : '' }}' />
                    {% endif %}
                    {% if details.repeating %}
                    <button type="button" onclick='cloneOption($(this));'>+</button>
                    {% endif %}
                </div>
                {% if loop.index == 1 %}

                {% endif %}
            </div>
        {% endfor %}
            <input type='button' onclick='lookupPatient();' value='Submit' /><br /><br />
        </form>
        </div>
        <div class='col-md-6'>
            <h6>Search History</h6>
            <div id="searchHistoryContainer">

            </div>
        </div>
    </div>

<div id='patient_results'>
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        refreshSearchHistory();
        $('#searchForm').submit(function () {
            lookupPatient();
            return false;
        });
    });
    function refreshSearchHistory() {
        $.ajax({
            type:"POST",
            url: "{{ searchHistoryLink|raw }}",
        }).done(function(html) {
            $('#searchHistoryContainer').html(html);
        });
    }
    function lookupPatient() {
        $("#patient_results").html("<img src='{{ constant('APP_PATH_IMAGES') }}progress.gif' />");

        var searchData = {};

        $('.searchField').each(function() {
            var name = $(this).attr('name');
            // console.log($(this).attr('name'));
            // if ($(this).attr('name'))
            // if ($(this).attr('type') == 'checkbox') {
            //
            // }
            //Check if variable is repeating
            if (name.match(/\[\]$/)) {
                 if (!searchData.hasOwnProperty(name)) {
                     searchData[name] = [];
                 }
                searchData[name].push((($(this).attr('type') != 'checkbox' || $(this).prop('checked')) ? $(this).val() : ""));
            } else {
                searchData[name] = (($(this).attr('type') != 'checkbox' || $(this).prop('checked')) ? $(this).val() : "");
            }
        });
        $.ajax({
            type:"POST",
            url: "{{ patientSearchLink|raw }}",
            data: searchData
        }).done(function(html) {
            $('#patient_results').html(html);
            refreshSearchHistory();
        });

    }
    function cloneOption(obj)
    {
        var parent = obj.closest("div.configDiv")
        parent.after(parent.clone());
        return false;
    }
</script>